@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body {
  background: linear-gradient(179.4deg, #FFFFFF 0.53%, #F8F5C3 99.49%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
  color: #130952;
}

a, li {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1570px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.textRight {
  text-align: right;
}

.no-border {
  border: none!important;
}

.name {
  max-width: 170px;
  width: 100%;
  max-height: 94px;
  padding: 10px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to left,
      #130952, 
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ) 1;
}





body {
  background: linear-gradient(179.4deg, #FFFFFF 0.53%, #F8F5C3 99.49%);
}

.header {
  padding-bottom: 75px;
}

.menu {
  padding-top: 40px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4em;
}

.header__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.03em;
}

.header__titles-portfolio {
  padding: 20px 40px 20px 0px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to left, 
      #130952,
      rgba(0, 0, 0, 0)
    ) 1;
}

.header__titles-name {
  padding: 20px 0px 20px 40px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to right, 
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
}

/* works */

.main {
  background: url('../src/shared/assets/images/portfolio__background.png') no-repeat bottom;
  margin-bottom: 300px;
}

.work__title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow__down-img {
  cursor: pointer;
}

.download__more {
  display: flex;
  justify-content: center;
  padding-bottom: 170px;
}

.container {
  max-width: 1570px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.name {
  max-width: 170px;
  width: 100%;
  max-height: 94px;
  padding: 10px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to left,
      #130952, 
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ) 1;
}

/* works styles */
.works {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.works__section {
  display: flex;
  justify-content: space-between;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.work__image,
.work__subscription {
  max-width: 669px;
  width: 100%;
}

.work__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.work__subscription {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}


/* footer styles */
.footer {
  background: url('../src/shared/assets/images/footer__background.png') no-repeat center / cover;
  padding-bottom: 180px;
}

.footer__logo {
  padding-top: 266px;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-border {
  border: 0px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 155px;
}

.contact__button {
  max-width: 177px;
  width: 100%;
  padding: 10px 50px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to bottom,
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.footer__menu {
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to bottom,
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding: 30px 60px;
}

.footer__menu-link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.footer__contacts-submit {
  font-size: 15px;
  line-height: 18px;
}

.footer__contacts-item {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}