/* comment */

.about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
}

.about__title {
  display: flex;
  align-items: center;
  font-weight: 200;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: -0.03em;
}

.about__title-span {
  text-transform: uppercase;
  background: #130952;
  font-weight: 500;
  font-size: 100px;
  line-height: 122px;
  color: #FF5050;
}

/* about__me */

.about__me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 328px;
}

.photo {
  width: 305px;
  height: 373px;
  background: rgba(19, 9, 82, 0.68);
}

.info__about-me {
  max-width: 802px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.about__me-btn {
  font-weight: 400;
  max-width: 300px;
  padding: 20px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to right,
      #130952, 
      #130952,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ) 1;
}

.about__me-text {
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: justify;
}

.about__me-portfolio {
  max-width: 220px;
  width: 100%;
  padding: 10px 50px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  max-width: 220px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to left,
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
}

/* portfolio */

.portfolio__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 107px;
  padding-bottom: 100px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.03em;
  border: 1px solid transparent;
  padding: 47px 105px 47px 0px;
  border-image: 
    linear-gradient(
      to left, 
      #130952, 
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ) 1;
}

.all__works-link {
  max-width: 210px;
  width: 100%;
  padding: 10px 50px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to right,
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
}

/* why__me */

.why__me {
  padding-top: 105px;
}

.why__me-header {
  display: flex;
  justify-content: center;
  padding-bottom: 54px;
}

.why__me-title {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.03em;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to right,
      #130952, 
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ) 1;
  padding: 46px 9px 46px 105px;
}

/* reasons */

.reasons {
  display: flex;
  justify-content: space-between;
}

.reasons__section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.reason {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.reason__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.reason__subscription {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  max-width: 669px;
  width: 100%;
}

/* questions */

.questions {
  padding-top: 145px;
}

.questions__header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.questions__title {
  max-width: 298px;
  width: 100%;
  font-weight: 300;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: -0.03em;
}

.questions__title > span {
  font-weight: 400;
  font-size: 60px;
}

.questions__subscription {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 100px;
}

/* request */

.feedback {
  display: flex;
  gap: 225px;
}

.submit__request {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 35px;
  text-transform: uppercase;
}

.request__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 653px;
    width: 100%;
}

.request__input,
.placeholder__input,
.submit__btn {
  border: 1px solid transparent;
  background-color: transparent;
}

.request__input {
  padding: 10px 0px 10px 30px;
  border-image: 
    linear-gradient(
      to right,
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
}

.placeholder__input {
  padding: 10px 0px 127px 30px;
  border-image: 
    linear-gradient(
      to bottom,
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
}

.submit__btn {
  cursor: pointer;
  max-width: 181px;
  padding: 10px 50px;
  margin-bottom: 320px;
  border-image: 
    linear-gradient(
      to bottom,
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
}

.feedback__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback__contacts-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header {
  padding-bottom: 75px;
}

.menu {
  padding-top: 40px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4em;
}

.header__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.03em;
}

.header__titles-portfolio {
  padding: 20px 40px 20px 0px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to left, 
      #130952,
      rgba(0, 0, 0, 0)
    ) 1;
}

.header__titles-name {
  padding: 20px 0px 20px 40px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to right, 
      #130952, 
      rgba(0, 0, 0, 0)
    ) 1;
}

/* works */

.main {
  background: url('../src/images/portfolio__background.png') no-repeat bottom;
  margin-bottom: 300px;
}

.work__title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow__down-img {
  cursor: pointer;
}

.download__more {
  display: flex;
  justify-content: center;
  padding-bottom: 170px;
}

.title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.name {
  max-width: 170px;
  width: 100%;
  max-height: 94px;
  padding: 10px;
  border: 1px solid transparent;
  border-image: 
    linear-gradient(
      to left,
      #130952, 
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ) 1;
}

/* works styles */
.works {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.works__section {
  display: flex;
  justify-content: space-between;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.work__image,
.work__subscription {
  max-width: 669px;
  width: 100%;
}

.work__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.work__subscription {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

